/* main.css */

/* Стили для index.html */
.user-container {  /*создан в index.html*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.user { /*создается в script.js*/
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    width: 45%;
}

.user:hover { /*создается в script.js*/
    background-color: #e0e0e0;
}

.user-details-link { /*создается в script.js*/
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: blue;
}

/* Стили для user-details.html */
#userDetailsContainer,
#userPostsContainer { /*создан в user-details.html*/
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

#userPostsContainer { /*создан в user-details.html*/
    text-align: center;
}

.post-link { /*создается в script.js*/
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: blue;
}


.user-details {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}


/* Стили для post-details.html */
#postDetailsContainer,
#commentsContainer { /*создан в post-details.html*/
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

.comment { /*создается в script.js*/
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}
